.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.panel {
  padding-right: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nav-container{
  margin-bottom: 0px;
}

.jumbotron{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.back-card-title{
  padding-bottom: 15px;
  border-bottom: 1px solid #D3D3D3;
}
.decks-title{
  text-align: center;
  margin-bottom: 20px;
}
.decks-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.deck-card{
  width:20em;
  margin:10px;
}
.card-table{
  width: 40em;
}
.table-responsive{
  border:none;
}
.buttons-column{
  width:30px;
}
.card-table-container{
  display: flex;
  justify-content: center;
}
.home-text{
  margin-top: 20px;
  padding-bottom: 50px;
}
 .home-container{
  background-image: url("https://images.pexels.com/photos/988873/pexels-photo-988873.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
  height:1000px;
  padding: 20px;
  text-align: center;
}
.signup-form{
  margin: 20px;
  padding: 10px 30px 30px 30px;
}
.login-form{
  margin: 30px;
}
.quiz-card.well{
  height:400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.quiz-side{
  display: flex;
  flex-direction: row;
}
.quiz-buttons{
  margin:100px 5px 10px 5px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
